#ifndef _INFLUX_SECRETS_H_
#define _INFLUX_SECRETS_H_

#define INFLUX_SECRET_HOST "myinfluxhost.com"
#define INFLUX_SECRET_PORT 443
#define INFLUX_SECRET_ORG "ffffffff"
#define INFLUX_SECRET_BUCKET "my-bucket"
#define INFLUX_SECRET_TOKEN "my-secret-token"
#define INFLUX_SECRET_MEASUREMENT "boops"

#endif /* _INFLUX_SECRETS_H_ */
